
@media all and (min-width: 1000px)

	.content
		width 960px
		margin auto
		clearfix()
		//margin-top baseLineHeight
		//margin-bottom baseLineHeight*2
		//padding (baseFontSize/2)


	.header, .article
		box-sizing border-box

	.header
		//padding-top baseLineHeight*2

	.article
		//padding baseFontSize baseLineHeight*2 0 0

	.likes
		position fixed
		display block
		bottom 62px
		right 24px

