
@media all and (min-width: 1000px)

	.content
		width 960px
		margin auto
		clearfix()
		margin-top baseLineHeight
		margin-bottom baseLineHeight*2
		padding (baseFontSize/2)


	.header, .article
		width 50%
		float left
		box-sizing border-box
		-moz-box-sizing border-box

	.header
		padding-top baseLineHeight*2

	.article
		padding baseFontSize baseLineHeight*2 0 0

