.likes
    text-align: center
    margin-top: 48px
    display none

    .circle
        display: inline-block
        width: 60px
        height: 60px

        border-radius: 50%

        border: 5px solid black

        margin-bottom: 12px
        cursor: pointer

    .inner
        display: inline-block

        width: 90%
        height: 90%

        line-height: 60px
        background-color: #F56218
        border-radius: 50%
        margin: 5%

        transform scale(0.3)
        transition transform 1s linear

        i
            color: white
            font-size: 30px
            line-height: 60px
            opacity: 0

    .under
        position: relative

        .number, .warning 
            font-weight: 700;
            position: absolute;
            top: 0;
            width: 100%;
            transition: opacity 0.4s linear

            p
                margin: 0;
                line-height: 1;

        .number
            opacity: 1;

        .warning
            font-size: 20px;
            opacity: 0;

    &.complete
        .circle
            .inner
                animation: bounce 0.5s

                width: 90%
                height: 90%

                line-height: 60px
                background-color: #F56218
                border-radius: 50%
                margin: 5%
                transform: scale(1)

            i
                opacity: 1;

    &.grow
        .circle
            .inner
                transform: scale(1);

        .under
            .warning
                opacity: 1;

            .number
                opacity: 0;


@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  30% {
    opacity: 0.3;
    transform: scale(2);
  }
}
