
body
    font-size baseFontSize
    line-height baseLineHeight
    font-family "Gentium Basic", helvetica, serif

::selection
    background-color: #F56218
    color: #fff

h1
	font-size baseFontSize*1.5
	line-height baseLineHeight*1.5

	&.title
		font-size baseFontSize*2
		line-height baseLineHeight*2

strong
	color color-green